/* SliderBanner.css */

  .Banner .slick-active button::before {
    opacity: 1;
  }
  
  .Banner .slick-center {
   
    transform: scale(1.15) ;
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
 
  }
  .Banner .slick-center::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); /* Lớp phủ mờ màu đen */
    transition: background 1.5s ease-in-out; /* Hiệu ứng chuyển đổi cho lớp phủ */
    z-index: 1; /* Đảm bảo lớp phủ nằm trên slide */
  }

  .Banner .slick-slide:not(.slick-center) {
    position: relative; /* Để cho pseudo-element nằm trên slide */
    transform: scale(0.8);
    transition: transform 1.5s ease-in-out;
  }
  
  .Banner .slick-slide:not(.slick-center)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Lớp phủ mờ màu đen */
    transition: background 1.5s ease-in-out; /* Hiệu ứng chuyển đổi cho lớp phủ */
    z-index: 1; /* Đảm bảo lớp phủ nằm trên slide */
  }
  
  