
.tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #D00000;
}
/* Styles for tab buttons on hover and focus, but not when active */
.tabs .ant-tabs-tab:not(.ant-tabs-tab-active):hover .ant-tabs-tab-btn,
.tabs .ant-tabs-tab:not(.ant-tabs-tab-active):focus .ant-tabs-tab-btn {
  color: #c3c3c3; 
}
.tabs .ant-tabs-tab-btn {
  color: #fff;
}
.tabs .ant-tabs-ink-bar {
  background: none;
}

.tabs .ant-tabs-nav::before {
 border-bottom: none !important;
}
